<input type="text" placeholder="Add a Burger!">
<button type="submit"
    style="display: block; margin-left: auto; margin-right: auto; color:white; background-color:darkblue; padding:4px; width:100px;">Submit</button>